* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #504f4f;
    color: #fff;
    width: 100%;
    height: 100vh;
}

#body-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 50%;
}

#result {
    background: #fff;
    color: #000;
    width: 15%;
    text-align: right;
}

#control {
    width: 15%;
    text-align: right;
    border-bottom: #e2640f solid 2px;
}

#calculator {
    border: 3px solid #e2640f;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    width: 15%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.option {
    font-size: 2rem;
    background: #cecece;
    border: none;
    border-radius: 10px;
    padding: 10px;
}